.Products_container{
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_content_section{
  width: 85%;

  display: flex;
  flex-direction: row;
  padding-top: 2%;
}

.filter_container{
  width: 15%;
  min-width: 180px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 10px;
}

.productList_right_section{
  padding: 0px 0px 0px 20px;
  width: 100%;
}

.Card_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
}

