.NavbarBottom_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_bottom_content {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_bottom_content > ul {
  width: 50%;

  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0;
}
.nav_bottom_content > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_bottom_content > ul > li a {
  text-decoration: none;
  color: black;
}

.nav_bottom_content > ul > li:hover {
  cursor: pointer;
}

.nav_bottom_content > ul > li::after {
  content: "";
  height: 3px;
  background-color: brown;
  width: 0;
  transition: width 0.5s ease, transform-origin 0.5s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.nav_bottom_content > ul > li:hover::after {
  color: brown;
  width: 100%;
  transition: width 0.5s ease, transform-origin 0.5s ease;
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbarBottom_section {
    margin-top: 0.6%;
  }

  .nav_bottom_content > ul {
    margin: 10px;
  }
}
